body {
  font-family: "Abhaya Libre", serif;
  color: #3d3d3d;
}

div {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 25px;
  line-height: 1.7;
}

.author {
  color: #8d8d8d;
  font-size: 14px;
  font-family: "Nanum Gothic", Arial, sans-serif;
  text-indent: 200px;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin-top: 40px;
}
